.dataTable {
  max-width: 300px;
}

.playerHolders {
  display: flex;
}
.player {
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
}

h1 {
  padding: 25px 0px;
  text-align: center;
  font-weight: revert;
  background: white;
}

h2 {
  padding: 15px 5px;
  font-weight: revert;
  background: white;
  margin-top: 30px;
}

.card .title {
  padding: 3px;
}

slick-slider.slick-initialized {
  margin: 3rem 0px;
}

.graph_container {
  display: flex;
  margin: 30px 10px;
}

.StatSlider {
  padding: 30px 0px;
}
